.one:hover { background-color:violet }
.two:hover { background-color:tomato }
a:hover { background-color:sandybrown }

body {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: Athelas;
    background-color: whitesmoke;
}

blockquote {
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-style: italic;
    color: saddlebrown;
    background-color: cornsilk;
    border-color: tan;
}
