{% extends "base.html" %}

{% block content %}

<h1 class="title"> {{ page.title }} </h1>
{{ page.content | safe }}

<p>You can email: zjv5002 at Google's email service.</p>

<p>around the web:</a></p>
<ul>
    <li><a href="https://github.com/zachvalenta">Github</a></li>
    <li><a href="https://stackoverflow.com/users/6813490/zach-valenta">Stack Overflow</a></li>
    <li><a href="https://news.ycombinator.com/user?id=zJayv">Hacker News</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Special:Contributions/Zjayv">Wikipedia</a></li>
</ul>

<p>in composite:</a></p>
<ul>
    <li><a href="https://www.youtube.com/watch?v=Z_fdOPvmBrI">Aly Us - Follow Me</a></li>
    <li><a href="https://www.youtube.com/watch?v=1OKQdp6iGUk">Jeanne Moreau - Elevator to the Gallows</a></li>
    <li><a href="{{ get_url(path='@/quotes.md') }}">quotes</a></li>
</ul>

{% endblock content %}

